@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Sixtyfour&display=swap');

html{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

*{
    margin :0;
    padding :0;
    text-decoration: none;
    list-style: none;
    font-family: "Jersey 15", serif;
    font-size: 26px;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.navkdm{
    padding: 5px;
    margin: 0;
    font-size: 20px;
    color: #f3cc03;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color:#9dcc18 ;
}

nav {
    background-color:rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 20px ;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav ul {
    align-self: self-end;
    display: flex;
    flex-direction: row;
}

nav ul li p {
    padding: 20px;
    margin: 0;
    color: #16e016;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #f3cc03;
}
nav ul li p:hover {
background-color :rgb(150, 150, 150);
color: #ffee00;
}

/* animation-playground-start */
.scrollwatch{
height: 6px;
position: fixed;
top: 65px;
z-index: 1000;
background-color: darkkhaki;
width: 100%;
scale: 0 1;
animation: scroll-watcher linear;
animation-timeline: scroll();
border-radius: 25px;
transform-origin: left;
}

@keyframes scroll-watcher {
    to {scale: 1 1;}
}

.fadeinleft{
    animation: fade-in-left linear;
    animation-timeline: view();
}

@keyframes fade-in-left{
    0% {opacity: 0; transform: translateX(50px);}
    35% {opacity: 1; transform: translateX(0);}
    75% {opacity: 1; transform: translateX(0);}
    100% {opacity: 0; transform: translateX(50px);}
}

.fadeinright{
    animation: fade-in-right linear;
    animation-timeline: view();
}

@keyframes fade-in-right{
    0% {opacity: 0; transform: translateX(-50px);}
    35% {opacity: 1; transform: translateX(0);}
    75% {opacity: 1; transform: translateX(0);}
    100% {opacity: 0; transform: translateX(-50px);}
}

.fadeintop{
    animation: fade-in-top linear;
    animation-timeline: view();
}

@keyframes fade-in-top{
    0% {opacity: 0; transform: translateY(-50px);}
    35% {opacity: 1; transform: translateY(0);}
    75% {opacity: 1; transform: translateY(0);}
    100% {opacity: 0; transform: translateY(-50px);}
}

.fadeindown{
    animation: fade-in-down linear;
    animation-timeline: view();
}

@keyframes fade-in-down{
    0% {opacity: 0; transform: translateY(50px);}
    35% {opacity: 1; transform: translateY(0);}
    75% {opacity: 1; transform: translateY(0);}
    100% {opacity: 0; transform: translateY(50px);}
}

.fadeinsizeup{
    animation: fade-in linear;
    animation-timeline: view();
}

@keyframes fade-in{
    0% {scale: .8; opacity: 0;}
    35% {scale: 1; opacity: 1;}
    75% {scale: 1; opacity: 1;}
    100% {scale: .8; opacity: 0;}
}

.panleft{
    animation: panleft linear;
    animation-timeline: view();
}

@keyframes panleft{
    0% {transform: translateX(50px);}
    5% {transform: translateX(0);}
    75% {transform: translateX(0);}
    100% {transform: translateX(50px);}
}

.panright{
    animation: panright linear;
    animation-timeline: view();
}

@keyframes panright{
    0% {transform: translateX(-50px);}
    5% {transform: translateX(0);}
    75% {transform: translateX(0);}
    100% {transform: translateX(-50px);}
}

.textfx1{
    animation: tfx linear;
    animation-timeline: view();
}

@keyframes tfx{
    0% {scale: .8; opacity: 0; transform: translateY(1600px);}
    25% {scale: 1; opacity: 1; transform: translateY(1280px);}
    50% {scale: 1; opacity: 1; transform: translateY(960px);}
    75% {scale: 1; opacity: 1; transform: translateY(640px);}
    100% {scale: .8; opacity: 0; transform: translateY(320px);}
}

.textfx2{
    animation: tfx2 linear;
    animation-timeline: view();
}

@keyframes tfx2{
    0% {scale: .8; opacity: 0; transform: translateY(-540px);}
    10% {scale: .8; opacity: 0; transform: translateY(-432px);}
    20% {scale: .8; opacity: 0; transform: translateY(-324px);}
    30% {scale: 1; opacity: 1; transform: translateY(-216px);}
    40% {scale: 1; opacity: 1; transform: translateY(-108px);}
    50% {scale: 1; opacity: 1; transform: translateY(0);}
    60% {scale: 1; opacity: 1; transform: translateY(108px);}
    70% {scale: 1; opacity: 1; transform: translateY(216px);}
    80% {scale: 1; opacity: 1; transform: translateY(324px);}
    90% {scale: 0.8; opacity: 0; transform: translateY(432px);}
    100% {scale: 0.8; opacity: 0; transform: translateY(540px);}
}

.stickt{
    position: absolute;
    background-color: blue;
    animation: st linear;
    animation-timeline: view();
}

@keyframes st{
    0% {opacity: 0; transform: translateY(-350px); transform: rotate(0deg);}
    10% {opacity: 0; transform: translateY(-280px);}
    20% {opacity: 0; transform: translateY(-210px); transform: rotate(180deg);}
    30% {opacity: 1; transform: translateY(-140px);}
    40% {opacity: 1; transform: translateY(-70px);}
    50% {opacity: 1; transform: translateY(0);}
    60% {opacity: 1; transform: translateY(70px);}
    70% {opacity: 1; transform: translateY(140px);}
    80% {opacity: 1; transform: translateY(210px); transform: rotate(180deg);}
    90% {opacity: 0; transform: translateY(280px);}
    100% {opacity: 0; transform: translateY(350px); transform: rotate(0deg);}
}

.MtM{
    animation: mtm linear;
    font-weight: lighter;
   font-size: 100px;
   color: rgb(0, 0, 0);
   animation-timeline: view();
}

@keyframes mtm{
    0% {opacity: 0; transform: translateY(50px); filter: blur(100px)}
    25% {opacity: 1; transform: translateY(0);}
    45%, 55% {opacity: 1; transform: translateY(0); filter: blur(0);}
    60% {opacity: 1; transform: translateY(70px); }
    70% {opacity: 1; transform: translateY(140px);}
    80% {opacity: 1; transform: translateY(210px);}
    90% {opacity: 1; transform: translateY(280px); filter: blur(0);}
    100% {opacity: 0; transform: translateY(350px); filter: blur(100px);}
}
/* animation-playground-end */

.coolsh{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    animation: autoblur linear both;
    animation-timeline: view();
}
@keyframes autoblur{
    0%{
        opacity: 0; filter: blur(100px);
    }
    45%, 55%{
       opacity: 1; filter: blur(0);
    }
    100%{
        opacity: 0; filter: blur(100px);
    }
}

.tentanganim{
    font-size: 100px;
    color:rgb(0, 0, 0);
}
.tentanganim:nth-child(2){
    color: rgb(253, 199, 20);
}
.tentanganim:nth-child(3){
    color:rgb(0, 0, 0);
}

.workenvi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: url(images/iqis.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hyperion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 90vh;
    cursor: default;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.tentang{
position: relative;
}
.fow{
    align-items: center;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    flex-direction: column;
    border: solid green 1px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 35px;
    margin: 5px;
    display: inline-flex;
    transition: 0.2;
}

.fow:hover{
    background: orange;
    color: white;
   transform:translateY(-2px);
   border-color: orangered;
}

.contenttentang{
    display:flex;
    justify-content: space-between;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contenttentang div {
    width: 35%;
}

.contenttentang img {
    border-radius: 0px 0 0px 0;
    animation: melayang 3s infinite ease-in;
}

@keyframes melavang{
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

section:not(.hero) {
    padding :0 40px;
    margin: 20px 0;
}

.firstcard{
    background-color: rgba(221, 221, 221, 0.685);
    padding: 25px;
    border-radius: 0px;
    width: 250px;
    box-shadow: 1px 1px 1px rgb(75, 75, 75);
    height: 375px;
    transition: 1.2s;
    color: #313131;
}
.firstcard:hover{
    scale: 1.05;
    background-color: #fff;
    color: rgb(0, 0, 0);
    border:1px solid black ;
}

.firstcard figcaption{
    color: rgb(28, 100, 44);
   display: flex;
   justify-content: center;
}
.firstcard:hover figcaption{
    color: rgb(20, 160, 50);
}

.firstcard img{
    width: 100%;
}

.borderx1{
    width: clamp(80px, 15vw, 200px);
    height: 100%;
    background:#DBDBDB;
    z-index: 60;
    margin:0;
    position:absolute;
    margin-left: 1166px;
    margin-top:-100px;
    right: 0;
}

.borderx2{
    width: clamp(80px, 15vw, 200px);
    height: 100%;
    background:#DBDBDB;
    z-index: 60;
    margin:0;
    position:absolute;
    margin-top:-100px;
    left: 0;
}

.gallery{
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 0;
}

.itemsfirgalery {
    display: flex;
    gap: 40px;
    justify-content:center;
    padding-right: 25px;
}
.itemsgalery {
    display: flex;
    gap: 40px;
    justify-content:center;
    animation: spin 30s infinite linear;
    padding-right: 40px;
}

.itemgalery {
    flex: 0 0 5em;
    background-color: rgba(221, 221, 221, 0.685);
    padding: 1em;
    border-radius: 0px;
    width: 20%;
    box-shadow: 1px 1px 1px black;
    /* height: 5em; */
}
.itemgalery:hover{
    scale: 1.05;
    background-color: rgb(221, 221, 221, 0.900);
    color: rgb(80, 80, 80);
}

.itemgalery img {
    width: 100%;
}

@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}
@keyframes spinother{
    from {translate: 0;}
    to {translate: 100%;}
}

figcaption {
    font-weight: 600;
}

body {
    background-color: black;
}
    /* scrollbar */
    ::-webkit-scrollbar{
display: none;
}

::-webkit-scrollbar-track{
  background: #cccccc;
}

::-webkit-scrollbar-track:hover{
  background: #59685c;

}

::-webkit-scrollbar-thumb{
    background: #516133;
}

::-webkit-scrollbar-thumb:hover{
    background: #d4ff5e;
}

::-webkit-scrollbar-corner{
    border-radius: 25px;
    background: #990303;
}

.all{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  background-color: #dbdbdb;
}

.sec3words{
    padding-top: 25px;
     color: rgb(255, 251, 0);
     font-size: 75px;
     justify-content: center;
     display: flex;
     -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.411);
    }
    .contactwords{
        padding-top: 25px;
        color: rgb(131, 197, 9);
        font-size: 75px;
        justify-content: center;
        display: flex;
        -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.411);
    }
    
    .background{
        display: flex;
        min-height: 75vh;
    }
    
    .kontener{
  flex: 0 1 1700px;
  margin: 0;
  padding: 10px;
}

.lct{
    font-size: 50px;
    color: #3bc42e;
}

.screen{
    margin-top: 10px;
    position: relative;
    background: #ffffff;
    z-index: 65;
   box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.screenbody{
    display: flex;
}

.screenbodyitem{
    flex: 1;
    padding: 50px;
    padding-bottom: 20px;
}

.screenbodyitem.left{
    display: flex;
  flex-direction: column;
  background-color: #2e4d2d;
}

.apptitle{
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000000;
  font-size: 260px;
  margin-bottom: 20px;
}

.apptitle:after{
    content: '';
    display: flex;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 190px;
  height: 7px;
  background: #00ff15;
}

.appdesc{
    height: 50px;
    display: flex;
    flex-direction: column;
  position: relative;
  color: #9BBB95;
  font-size: 260px;
  font: 1em aster;
}

.appcontact{
    margin-top: auto;
    font-size: 26px;
    font: 1em aster;
    color: #9bbb95;
}

.appformgroup{
    margin-bottom: 15px;
}

.appformgroup.message{
    margin-top: 30px;
}

.appformgroup.buttons{
    margin-bottom: 0;
    text-align: right;
}

.appformcontrol{
    width: 100%;
    padding: 10px 0;
    background: none;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #666;
    color: #666;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    transition: border-radius .2s;
}

.appformcontrol::placeholder{
    color: #66666680;
}

.appformcontrol:focus{
    border-color: #999999;
    border-radius: 10px;
}

.appformbuttoncancel{
    background: none;
    border: solid 3px #ff0000;
    color: #ff0000;
    border-radius: 25px;
    padding: 3px;
    font-size: 25px;
    width: 100px;
    cursor: pointer;
    outline: none;
}
.appformbuttonsend{
    background: none;
    border: solid 3px #00ff40;
    color: #00ff40;
    border-radius: 25px;
    padding: 3px;
    font-size: 25px;
    width: 100px;
    cursor: pointer;
    outline: none;
}

.appformbuttoncancel:hover{
    background-color: #ff0000;
    color: white;
}
.appformbuttonsend:hover{
    background-color:#00ff40; 
    color: white;
}

.floating-card{
  position: absolute;
  background: #2e4d2d;
  padding: 1.2rem;
  border-radius: 15px;
  width: clamp(120px, 18vw, 160px);
  text-align: center;
  animation: float 3s ease-in-out infinite;
}


.floating-card span{
    font-weight: 600;
    color: #9BBB95;
}

.card-1{
  top: 20%;
  right: 5%;
  animation-delay: 0s;
}

.card-2{
  top: 35%;
  right: 20%;
  animation-delay: 1s;
}

.card-3{
  top: 50%;
  right: 5%;
  animation-delay: 2s;
}

.card-4{
  top: 65%;
  right: 20%;
  animation-delay: 1.5s;
}

@keyframes float{
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
}

.footainer{
	max-width: 1170px;
	margin:auto;
    border-bottom: solid rgb(67, 87, 67) 2px;
}
.footrow{
    justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #2E4D2D;
    padding: 70px 0;
    padding-bottom: 10px;
    	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.kdmfooter{
    padding: 5px;
    margin: 0;
    font-size: 24px;
    color: #ccc918;
    font-family: sans-serif;
    margin-top: 15px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 25px;
    margin-top: 24px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #00FF15;
	height: 2px;
	box-sizing: border-box;
	width: 75px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 20px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
}}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.create{
    font-family: sans-serif;
    justify-content: center;
    color: grey;
    font-size: 12px;
    margin: 20px;
    display: flex;
}
/* element culling on mobile */
@media (max-width: 768px){
  .floating-card,
  .borderx1,
  .borderx2,
  .textfx2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .gallery::before,
  .gallery::after {
    display: none;
  }
}
