@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Sixtyfour&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    margin :0;
    padding :0;
    text-decoration: none;
    list-style: none;
    font-family: "Jersey 15", serif;
    font-size: 26px;

}

nav {
    background-color:rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 20px ;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li p {
    padding: 20px;
    margin: 0;
    color: rgb(0, 161, 0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #5ecc03;
}
nav ul li p:hover {
background-color :silver;
}

/* animation-playground-start */
.scrollwatch{
height: 6px;
position: fixed;
top: 65px;
z-index: 1000;
background-color: darkkhaki;
width: 100%;
scale: 0 1;
animation: scroll-watcher linear;
animation-timeline: scroll();
border-radius: 25px;
transform-origin: left;
}

@keyframes scroll-watcher {
    to {scale: 1 1;}
}

.fadeinleft{
    animation: fade-in-left linear;
    animation-timeline: view();
}

@keyframes fade-in-left{
    0% {opacity: 0; transform: translateX(50px);}
    35% {opacity: 1; transform: translateX(0);}
    75% {opacity: 1; transform: translateX(0);}
    100% {opacity: 0; transform: translateX(50px);}
}

.fadeinright{
    animation: fade-in-right linear;
    animation-timeline: view();
}

@keyframes fade-in-right{
    0% {opacity: 0; transform: translateX(-50px);}
    35% {opacity: 1; transform: translateX(0);}
    75% {opacity: 1; transform: translateX(0);}
    100% {opacity: 0; transform: translateX(-50px);}
}

.fadeintop{
    animation: fade-in-top linear;
    animation-timeline: view();
}

@keyframes fade-in-top{
    0% {opacity: 0; transform: translateY(-50px);}
    35% {opacity: 1; transform: translateY(0);}
    75% {opacity: 1; transform: translateY(0);}
    100% {opacity: 0; transform: translateY(-50px);}
}

.fadeindown{
    animation: fade-in-down linear;
    animation-timeline: view();
}

@keyframes fade-in-down{
    0% {opacity: 0; transform: translateY(50px);}
    35% {opacity: 1; transform: translateY(0);}
    75% {opacity: 1; transform: translateY(0);}
    100% {opacity: 0; transform: translateY(50px);}
}

.fadeinsizeup{
    animation: fade-in linear;
    animation-timeline: view();
}

@keyframes fade-in{
    0% {scale: .8; opacity: 0;}
    35% {scale: 1; opacity: 1;}
    75% {scale: 1; opacity: 1;}
    100% {scale: .8; opacity: 0;}
}

.textfx1{
    animation: tfx linear;
    animation-timeline: view();
}

@keyframes tfx{
    0% {scale: .8; opacity: 0; transform: translateY(1600px);}
    25% {scale: 1; opacity: 1; transform: translateY(1280px);}
    50% {scale: 1; opacity: 1; transform: translateY(960px);}
    75% {scale: 1; opacity: 1; transform: translateY(640px);}
    100% {scale: .8; opacity: 0; transform: translateY(320px);}
}

.textfx2{
    animation: tfx2 linear;
    animation-timeline: view();
}

@keyframes tfx2{
    0% {scale: .8; opacity: 0; transform: translateY(-540px);}
    10% {scale: .8; opacity: 0; transform: translateY(-432px);}
    20% {scale: .8; opacity: 0; transform: translateY(-324px);}
    30% {scale: 1; opacity: 1; transform: translateY(-216px);}
    40% {scale: 1; opacity: 1; transform: translateY(-108px);}
    50% {scale: 1; opacity: 1; transform: translateY(0);}
    60% {scale: 1; opacity: 1; transform: translateY(108px);}
    70% {scale: 1; opacity: 1; transform: translateY(216px);}
    80% {scale: 1; opacity: 1; transform: translateY(324px);}
    90% {scale: .8; opacity: 0; transform: translateY(432px);}
    100% {scale: .8; opacity: 0; transform: translateY(540px);}
}

.stickt{
    position: absolute;
    background-color: blue;
    animation: st linear;
    animation-timeline: view();
}

@keyframes st{
    0% {opacity: 0; transform: translateY(-350px); transform: rotate(0deg);}
    10% {opacity: 0; transform: translateY(-280px);}
    20% {opacity: 0; transform: translateY(-210px); transform: rotate(180deg);}
    30% {opacity: 1; transform: translateY(-140px);}
    40% {opacity: 1; transform: translateY(-70px);}
    50% {opacity: 1; transform: translateY(0);}
    60% {opacity: 1; transform: translateY(70px);}
    70% {opacity: 1; transform: translateY(140px);}
    80% {opacity: 1; transform: translateY(210px); transform: rotate(180deg);}
    90% {opacity: 0; transform: translateY(280px);}
    100% {opacity: 0; transform: translateY(350px); transform: rotate(0deg);}
}

.MtM{
    animation: mtm linear;
    font-weight: lighter;
   font-size: 100px;
   color: rgb(0, 0, 0);
   animation-timeline: view();
}

@keyframes mtm{
    /* 0% {opacity: 0; transform: translateY(-350px);}
    10% {opacity: 0; transform: translateY(-280px);}
    20% {opacity: 0; transform: translateY(-210px);}
    30% {opacity: 1; transform: translateY(-140px);}
    40% {opacity: 1; transform: translateY(-70px);} */
    0% {opacity: 0; transform: translateY(50px); filter: blur(100px)}
    25% {opacity: 1; transform: translateY(0);}
    45%, 55% {opacity: 1; transform: translateY(0); filter: blur(0);}
    60% {opacity: 1; transform: translateY(70px); }
    70% {opacity: 1; transform: translateY(140px);}
    80% {opacity: 1; transform: translateY(210px);}
    90% {opacity: 1; transform: translateY(280px); filter: blur(0);}
    100% {opacity: 0; transform: translateY(350px); filter: blur(100px);}
}
/* animation-playground-end */

.coolsh{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    animation: autoblur linear both;
    animation-timeline: view();
}
@keyframes autoblur{
    0%{
        filter: blur(100px);
    }
    45%, 55%{
        filter: blur(0);
    }
    100%{
        filter: blur(100px);
    }
}

.tentanganim{
    font-size: 100px;
    color:rgb(0, 0, 0);
}
.tentanganim:nth-child(2){
    color: rgb(133, 163, 0);
}
.tentanganim:nth-child(3){
    color:rgb(0, 0, 0);
}

.workenvi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-image: url(placeholderimg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hyperion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 90vh;
    cursor: default;
    background-repeat: no-repeat;
    background-size: 100%;
}
.fow{
    align-items: center;
    background-color: rgb(187, 255, 0);
    justify-content: center;
    flex-direction: column;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 35px;
    margin: 5px;
    display: inline-flex;
}

.fow:hover{
    background: orange;
    color: white;
   transform:translateY(-2px);
}

.contenttentang{
    display:flex;
    justify-content: space-between;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contenttentang div {
    width: 35%;
}

.contenttentang img {
    border-radius: 0px 0 0px 0;
    animation: melayang 3s infinite ease-in;
}
section {
    padding: 0 40px;
}

@keyframes melavang{
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

section:not(.hero) {
    padding :0 40px;
    margin: 20px 0;
}

.itemsgalery {
    display: flex;
    flex-wrap: wrap ;
    gap: 40px;
    justify-content:center;
}

.itemgalery {
    background-color: rgba(49, 73, 21, 0.199);
    padding: 25px;
    border-radius: 0px;
    width: 20%;
    box-shadow: 1px 1px 1px black;
}

.itemgalery img {
    width: 100%;
}

figcaption {
    font-weight: 600;
}

footer {
    background-color: rgb(0, 0, 0);
    justify-content: left;
    display: flex;
}

body {
    background-color: black;
}






/* unused */
/* fade to the left 
.fadeinleft{
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
}
@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
fade to the right
.fadeinright{
    -webkit-animation: fadeInRight 1.2s both;
    -moz-animation: fadeInRight 1.2s both;
    -o-animation: fadeInRight 1.2s both;
    animation: fadeInRight 1.2s both;
}
@-webkit-keyframes fadeInRight {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
        }
        100%{
            opacity: 1;
            -webkit-transform: translateX(0);
            }
            }
            @-moz-keyframes fadeInRight {
                0%{
                    opacity: 0;
                    -moz-transform: translateX(50px);
                    }
                    100%{
                        opacity: 1;
        -moz-transform: translateX(0);
    }
    }
    @-o-keyframes fadeInRight {
        0%{
            opacity: 0;
            -o-transform: translateX(50px);
            }
            100%{
                opacity: 1;
                -o-transform: translateX(0);
                }
                }
                @keyframes fadeInRight {
                    0%{
                        opacity: 0;
                        transform: translateX(50px);
                        }
                        100%{
                            opacity: 1;
                            transform: translateX(0);
                            }
                            }
                            fade to the top
                            .fadeintop{
                                -webkit-animation: fadeInTop 1.2s both;
                                -moz-animation: fadeInTop 1.2s both;
                                -o-animation: fadeInTop 1.2s both;
                                animation: fadeInTop 1.2s both;
                                }
@-webkit-keyframes fadeInTop {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInTop {
    0%{
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInTop {
    0%{
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInTop {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
fade to the down
.fadeindown{
    -webkit-animation: fadeInDown 1.2s both;
    -moz-animation: fadeInDown 1.2s both;
    -o-animation: fadeInDown 1.2s both;
    animation: fadeInDown 1.2s both;
}
@-webkit-keyframes fadeInDown {
    0%{
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInDown {
    0%{
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInDown {
    0%{
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
    */

    /* scrollbar */
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: #cccccc;
}

::-webkit-scrollbar-track:hover{
  background: #59685c;

}

::-webkit-scrollbar-thumb{
  background: #516133;
}

::-webkit-scrollbar-thumb:hover{
  background: #d4ff5e;
}

::-webkit-scrollbar-corner{
    border-radius: 25px;
    background: #990303;
}
